header{
    height: 17vh;
}

main{
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

main>*>*{ /* Ici je sélectionne les divs contenus dans main, main_image non inclus */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Inclure les bordures et le padding dans la largeur/hauteur */
    border: 10px solid black;
}
#Main_image{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 33%;
    height: 33%;
    z-index: 3; /* Parce que j'ai envie qu'il soit affiché au dessus de tout les autres éléments*/
}

#projects{
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 50%;
    height: 50%;
}

#story{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lime;
    width: 50%;
    height: 50%;
}

#veronica{
    position: absolute;
    top: 0;
    right: 0;
    background-color: blue;
    width: 50%;
    height: 40%;
    overflow: hidden; /* Cache tout ce qui dépasse*/
}
#veronica h2{ /* Pour s'assurer que le texte est par dessus la vidéo */
    z-index: 2;
}
#veronica video{
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    z-index: 1;
}

#parameters{
    position: absolute;
    top: 40%;
    right: 0;
    background-color: pink;
    width: 50%;
    height: 20%;
}

#posts{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: yellow;
    width: 50%;
    height: 40%;
}

#projects:hover, #story:hover, #veronica:hover, #parameters:hover, #posts:hover {
    border-color: white;
}