#background {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    z-index: -3; /* Met l'image en arrière plan */
}
a {
    text-decoration: underline;
    color: blue;
}
*{
    box-sizing: border-box;
}
body {
    color: white;
    /* La ligne suivante est pour faire un contour noir au texte*/
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
main {
    display: flex;
    background-color: rgba(0, 0, 0, 75%);
    justify-content: space-between;
    flex-wrap: wrap; /* permet aux éléments de passer à la ligne si besoin */
    align-items: stretch; /* étire les éléments pour qu'ils aient, askip, la même hauteur */
}
.Categorie{
    border: 2px solid white;
    margin: 1%;
    padding: 0.5%;
}
.Titre_Categorie{
    border-bottom: 2px solid white;
}

