/* Pour mettre le fond d'écran : */
html {
    background-image: url('/includes/media/Background.gif');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
}
a {
    text-decoration: underline;
    color: blue;
}
*{
    box-sizing: border-box;
}
body {
    color: white;
    /* La ligne suivante est pour faire un contour noir au texte*/
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
main {
    display: flex;
    background-color: rgba(0, 0, 0, 75%);
    justify-content: space-evenly;
    flex-wrap: wrap; /* permet aux éléments de passer à la ligne si besoin */
    align-items: stretch; /* étire les éléments pour qu'ils aient, askip, la même hauteur */
}
.Categorie{
    border: 2px solid white;
    margin: 1%;
    padding: 0.5%;
}
.Titre_Categorie{
    border-bottom: 2px solid white;
    display: flex;
}

/* Importation des fonts */
@font-face {
    font-family: "Minecraft";
    src: url(Other_ressources/Minecraft.ttf);
}
h2{
    font-family: "Minecraft";
    color: white;
    text-shadow: -1px -1px 0 #000, 3px -1px 0 #000, -1px 3px 0 #000, 1px 3px 0 #000;
}